.screen-two {
  padding: 110px 0 165px;

  @media (max-width: 1024px) {
    padding: 60px 0 75px;
  }
  @media (max-width: 768px) {
    padding: 0 0 75px;
  }
  @media (max-width: 767px) {
    padding: 50% 0 75px;
  }
  // .screen-two__content

  &__content {
    max-width: 610px;
    width: 100%;
    margin-left: auto;

    @media (max-width: 1280px) {
      max-width: 500px;
      margin-right: 100px;
    }
    @media (max-width: 1024px) {
      max-width: 490px;
      margin-right: 50px;
    }
    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 440px;
    }
  }

  // .screen-two__title

  &__title {
    font-size: 36px;
    line-height: 83.5%;
    color: #fff;
    font-family: "Gilroy-Black", sans-serif;
    font-style: italic;
    margin-bottom: 10px;

    @media (max-width: 1024px) {
      font-size: 30px;
    }
    @media (max-width: 460px) {
      font-size: 25px;
    }
  }

  // .screen-two__stroked-text

  &__stroked-text {
    font-size: 120px;

    @media (max-width: 1280px) {
      font-size: 100px;
    }
    @media (max-width: 1024px) {
      font-size: 85px;
    }
    @media (max-width: 460px) {
      font-size: 65px;
      margin-bottom: 20px;
    }
  }

  // .screen-two__info

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    align-items: center;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
    @media (max-width: 460px) {
      margin-bottom: 30px;
    }
  }

  // .screen-two__info-item

  &__info-item {
    margin-bottom: 15px;

    @media (max-width: 460px) {
      margin-bottom: 25px;
    }
  }

  // .screen-two__info-btn

  &__info-btn {
    max-width: 320px;
    height: 60px;
    font-size: 24px;
    line-height: 29px;

    @media (max-width: 1280px) {
      max-width: 241px;
      height: 48px;
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width: 1024px) {
      max-width: 192px;
      height: 46px;
      font-size: 16px;
      line-height: 20px;
    }
    @media (max-width: 460px) {
      max-width: 260px;
      height: 43px;
      font-size: 18px;
      line-height: 22px;
      margin: 0 auto;
    }
  }

  // .screen-two__time

  &__time {
    font-size: 18px;
    line-height: 83.5%;
    color: #FF2748;
    font-family: "Gilroy-Semibold", sans-serif;
    font-style: italic;
    span {
      font-family: "Gilroy-Black", sans-serif;
    }

    @media (max-width: 1280px) {
      font-size: 16px;
    }
    @media (max-width: 460px) {
      font-size: 14px;
      max-width: 290px;
    }
  }
}
.item-info {
  flex: 0 1 50%;
  padding-left: 65px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 45px;

    @media (max-width: 1024px) {
      width: 32px;
      height: 35px;
    }
  }

  @media (max-width: 1024px) {
    padding-left: 50px;
  }
  @media (max-width: 460px) {
    flex: 0 1 100%;
  }

  // .item-info_1

  &_1 {
    &::before {
      background-image: url(../img/screen2/place2.svg);
    }
  }
  // .item-info_2

  &_2 {
    &::before {
      background-image: url(../img/screen2/place3.svg);
    }
  }
  // .item-info_3

  &_3 {
    &::before {
      background-image: url(../img/screen2/place4.svg);
    }
    flex: 0 1 285px;

    @media (max-width: 1024px) {
      flex: 0 1 235px;
    }
  }

  // .item-info__place

  &__place {
    font-size: 25px;
    line-height: 83.5%;
    color: #FF2748;
    font-family: "Gilroy-Black", sans-serif;
    font-style: italic;
    margin-bottom: 5px;

    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }

  // .item-info__win

  &__win {
    font-size: 45px;
    line-height: 83.5%;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: italic;
    font-family: "Gilroy-Black", sans-serif;

    @media (max-width: 1024px) {
      font-size: 35px;
    }
  }
}