.screen-three {

  // .screen-three__hero

  &__hero {
    margin-bottom: 55px;
  }

  // .screen-three__hero-img

  &__hero-img {
    max-width: 186px;
    margin: 0 auto;
    img {
      max-width: 100%;
      display: block;
    }
  }

  // .screen-three__hero-title

  &__hero-title {
    margin-top: 19px;
    font-size: 36px;
    line-height: 83.5%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: "Gilroy-Black", sans-serif;
  }

  // .screen-three__table

  &__table {
  }

  // .screen-three__btn

  &__btn {
    margin: 60px auto 90px auto;
    max-width: 313px;
    height: 61px;
    font-size: 24px;
    line-height: 29px;
  }
}
.table {
  max-width: 1390px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
  // .table__column

  &__column {
    border-right: 1px solid #fff;
    &:last-child {
      border-right: none;
    }
    // .table__column_1

    &_1 {
      flex: 0 1 505px;
      .table__item {
        padding: 12px 28px 12px 20px;
        border-bottom: 1px solid #fff;
        &:last-child {
          border-bottom: none;
        }
      }
      .table__item-num {
        width: 73px;
        height: 73px;
        margin-right: 19px;
        img {
          display: block;
          max-width: 100%;
        }
      }
      .table__item-id {
        margin-right: 10px;
      }
      .table__item-id-title {
        margin-bottom: 13px;
      }
      .table__item-points {
        margin-right: 20px;
      }
      .table__item-points-title {
        margin-bottom: 13px;
      }
      .table__item-win {
        font-size: 45px;
        line-height: 83.5%;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Gilroy-Black", sans-serif;
        font-style: italic;
      }
    }

    // .table__column_2

    &_2 {
      flex: 0 1 480px;
      .table__item {
        height: 55px;
        padding: 0 20px;
        font-size: 18px;
        line-height: 83.5%;
        color: #fff;
        font-family: "Gilroy-Semibold", sans-serif;
      }
      .table__column-head-place {
        flex: 0 1 108px;
      }
      .table__column-head-id {
        flex: 0 1 122px;
      }
      .table__column-head-points {
        flex: 0 1 145px;
      }
      .table__column-head-win {
        flex: 0 1 auto;
      }
      .table__item-num {
        flex: 0 1 108px;
      }
      .table__item-id {
        flex: 0 1 122px;
      }
      .table__item-points {
        flex: 0 1 145px;
      }
      .table__item-win {
        flex: 0 1 auto;
      }
    }

    // .table__column_3

    &_3 {
      flex: 0 1 405px;
      .table__item {
        height: 55px;
        padding: 0 20px;
        font-size: 18px;
        line-height: 83.5%;
        color: #fff;
        font-family: "Gilroy-Semibold", sans-serif;
      }
      .table__column-head-place {
        flex: 0 1 127px;
      }
      .table__column-head-id {
        flex: 0 1 187px;
      }
      .table__column-head-points {
        flex: 0 1 auto;
      }
      .table__item-num {
        flex: 0 1 127px;
      }
      .table__item-id {
        flex: 0 1 187px;
      }
      .table__item-points {
        flex: 0 1 auto;
      }
    }
  }

  // .table__item

  &__item {
    display: flex;
    align-items: center;
    // .table__item_1

    &_1 {
      background: linear-gradient(90.12deg, rgba(253, 192, 16, 0.58) 10.6%, rgba(0, 0, 0, 0) 100.01%);
    }

    // .table__item_2

    &_2 {
      background: linear-gradient(90.12deg, rgba(220, 244, 255, 0.28) 10.6%, rgba(0, 0, 0, 0) 100.01%);
    }

    // .table__item_3

    &_3 {
      background: linear-gradient(90.12deg, rgba(255, 190, 143, 0.28) 10.6%, rgba(0, 0, 0, 0) 100.01%);
    }

    // .table__item_4

    &_4 {
      background: linear-gradient(90.12deg, rgba(152, 255, 143, 0.28) 10.6%, rgba(0, 0, 0, 0) 100.01%);
    }

    // .table__item_5

    &_5 {
    }

    // .table__item_6

    &_6 {
    }

    // .table__item_7

    &_7 {
    }

    // .table__item_8

    &_8 {
    }

    // .table__item_9

    &_9 {
    }

    // .table__item_10

    &_10 {
    }

    // .table__item_11

    &_11 {
    }

    // .table__item_12

    &_12 {
    }

    // .table__item_13

    &_13 {
    }

    // .table__item_14

    &_14 {
    }

    // .table__item_15

    &_15 {
    }

    // .table__item_16

    &_16 {
    }
  }

  // .table__item-num

  &__item-num {
  }

  // .table__item-id

  &__item-id {
  }

  // .table__item-id-title

  &__item-id-title {
    font-size: 18px;
    line-height: 83.5%;
    color: #ADB0B3;
    font-family: "Gilroy-Regular", sans-serif;
  }

  // .table__item-id-num

  &__item-id-num {
    font-size: 18px;
    line-height: 83.5%;
    color: #fff;
    font-family: "Gilroy-Semibold", sans-serif;
  }

  // .table__item-points

  &__item-points {

  }

  // .table__item-points-title

  &__item-points-title {
    font-size: 18px;
    line-height: 83.5%;
    color: #ADB0B3;
    font-family: "Gilroy-Regular", sans-serif;
  }

  // .table__item-points-num

  &__item-points-num {
    font-size: 18px;
    line-height: 83.5%;
    color: #fff;
    font-family: "Gilroy-Semibold", sans-serif;
  }

  // .table__item-win

  &__item-win {

  }

  // .table__column-head

  &__column-head {
    font-size: 18px;
    line-height: 83.5%;
    color: #ADB0B3;
    font-family: "Gilroy-Regular", sans-serif;
    display: flex;
    padding: 26px 20px;
  }

  // .table__column-head-place

  &__column-head-place {
  }

  // .table__column-head-id

  &__column-head-id {
  }

  // .table__column-head-points

  &__column-head-points {
  }

  // .table__column-head-win

  &__column-head-win {
  }
}
.footer {

  // .footer__wrapper

  &__wrapper {
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    font-family: "Gilroy-Regular", sans-serif;
  }
}
